{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
        .image > img {
            width: 100%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .review {
            width: 80%;
            margin-left: 10%;
            padding: 10px;
        }
    </style>
    <div class="product">
        <div class="image">
            <img style="width:200px;" src="/media/{{ product.image }}/" alt="">
        </div>
        <div class="info">
            <h1>{{ product.title }} Price: {{ product.price }} Discount: {{ product.discount }}</h1>
            <h4>Description: {{ product.description }}</h4>
            <h4>Quantity: {{ product.quantity }}</h4>
            <h4>Size: {{ product.size }}</h4>
            <h4>Weight: {{ product.weight }}</h4>
            <h4>Rate: {{ product.rate }}</h4>
            <div class="dates">
                <h4>{{ product.created_date }}</h4>
                <h4>{{ product.modified_date }}</h4>
            </div>
        </div>
    </div>
    <div class="review">
        <h2>Review Creat Form</h2>
        <form action="/products/{{ product.id }}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock %}
